{% extends "bootstrap/base.html" %}
{% block title %}Chatroom{% endblock %}

{% block content %}
<html lang="en">
<head>
    <title>Chatroom</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{{url_for('static', filename='index_script.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to our Chatroom</h1>
  <h5>This chatroom is part of our master thesis in Information Science & Language Technology</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Thank you for using our chatroom!</h4>
            <p class="block">We're doing a master thesis on the prevention of cyberbullying and hate speech in online communication tools and social media.
                Our algorithm is far from perfect - so we need your help!
                We'd like you to write messages, especially ones you deem hateful, and evaluate the results.
                &#13;<b>Be mean! Be cruel! Be creative!</b>
            </p>
            <p class="block">In the case that you are alone in our chatroom, we'd appreciate it if you write a few messages, anyway. Thank you!</p>
            <p class="block"><b>Cyberbullying:</b> Online Buylling. Any teasing, insults, threats or violence against a person / group</p>
            <p class="block"><b>Hate Speech:</b> Attacks on a person / group based on their race, religion, sex, disability, sexual orientation etc.</p>
            <p class="smaller_text">You can change your username and color by clicking on the little icon next to the text input.
                Messages that you rated as cyberbullying / hate speech, but were wrongly labeled as appropriate by our algorithm, are displayed in grey.
            </p>
        </div>

        <div class="col-sm-6">
            <div class="message_holder" id="message_holder">
                <h4 id="message_default">&nbsp;&nbsp;No messages yet</h4>
            </div>

            <form action="" method="POST">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" id = "gly" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"></i></span>
                    <div class="form-control">
                        <input type="text" id="input_chatmessage" class="message" rows="1" placeholder="Say something..."/>
                    </div>
                        <span class="input-group-btn">
                            <!--<input type="submit" id="pop_over_button" class="btn btn-secondary" value="Send" data-container="body" data-toggle="modal" data-target="#message_appropriate" data-placement="top" data-content="Message is inappropriate" data-trigger="focus" data-backdrop="static" data-keyboard="false" disabled="disabled">-->
                            <button type="button" class="btn btn-secondary" id="ml_button" onclick="machine_learning()">Send</button>
                        </span>
                        <!-- Modal -->
                        <div class="modal fade" id="message_inappropriate" tabindex="-1" role="dialog" aria-labelledby="message_inappropriateLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="message_inappropriateLabel">Message was inappropriate - Was that correct?</h5>
                                </button>
                              </div>
                              <div class="modal-body inappropriate-header" id="inappropriate-header">
                                <div class="radio" onchange="enableButton_inap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" id="inap_1" value="i1" checked>Yes</label>
                                </div>
                                <div class="radio"  onchange="enableButton_inap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" id="inap_2" value="i2">No</label>
                                </div>
                                  <input type="text" id="hs_inappropriate" class="computed_class" placeholder="HS">
                                  <input type="text" id="cb_inappropriate" class="computed_class" placeholder="CB">

                              </div>
                              <div class="modal-footer">
                                  <!--<button type="button" class="btn btn-secondary" id="submit_message_inappropriate"  onclick="remove_loader()" data-dismiss="modal" disabled>Send</button>-->
                                  <input type="submit" class="btn btn-secondary" id="submit_message_inappropriate" value="Send" disabled>
                              </div>
                            </div>
                          </div>
                        </div>

                    <!-- Modal -->
                        <div class="modal fade" id="message_appropriate" tabindex="-1" role="dialog" aria-labelledby="message_appropriateLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="message_appropriateLabel"> Message is appropriate - Is that correct?</h5>
                                </button>
                              </div>
                              <div class="modal-body appropriate-header" id="appropriate-header">
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" id="ap_1" class="eval_radio" value="a1" checked>Yes</label>
                                </div>
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" id="ap_2" value="a2">No, it’s Cyberbullying</label>
                                </div>
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" id="ap_3" value="a3">No, it’s Hate Speech</label>
                                </div>
                                  <input type="text" id="hs_appropriate" class="computed_class" placeholder="HS">
                                  <input type="text" id="cb_appropriate" class="computed_class" placeholder="CB">
                              </div>
                              <div class="modal-footer">
                                  <!--<input type="submit" class="btn btn-secondary" id="submit_message_appropriate"  data-dismiss="modal" value="Submit" disabled>-->
                                  <input type="submit" class="btn btn-secondary" id="submit_message_appropriate" value="Send" disabled>
                              </div>
                            </div>
                          </div>
                        </div>

                    <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Welcome</h4>
                            </div>
                            <div class="modal-body">
                                <div><p><b>Disclaimer: </b>The messages in this chat can contain insults, threats and violence. Please note that these are not aimed at you personally and follow purely experimental goals.</p>
                                  <p>All data will be used for scientific reasons. It will not be made public.</p></div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="color" class="color" name="name_color" id="name_color" value="#3366ff">
                                    </span>
                                    <div class="form-control">
                                        <input type="text" class="username" placeholder="Enter username">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary" id = "send_name" onclick="setUserColor()" type="button" data-dismiss="modal">Send</button>
                            </div>
                          </div>

                        </div>
                      </div>

                </div>
            </form>
        </div>

        <div class="col-sm-3">
            <h4>Don't know what to write?</h4>
            <p><b>Here are some example topics to talk about:</b></p>
                <ul>
                    <li class = "topics">General Insults against Appearance, Personality, Abilities</li>
                    <li class = "topics">Donald Trump</li>
                    <li class = "topics">Clichés about Races</li>
                    <li class = "topics">Police Brutality</li>
                    <li class = "topics">Anti-feminist / Anti-LGBTQ Commentary</li>
                    <li class = "topics">Gossip about Public People (Politicians, Athletes, Actors, …)</li>
                </ul><br>

            <p id="user_count">Users in Chatroom: 0</p>
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h6>Heinrich-Heine-University Düsseldorf &copy; Valerie Claessen and Sabrina Wirkner</h6>
</div>

</body>
</html>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}