{% extends "bootstrap/base.html" %}
{% block title %}Chatroom{% endblock %}

{% block content %}
<html lang="en">
<head>
    <title>Chatroom</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{{url_for('static', filename='index_script.js')}}"></script>
    <script src="{{url_for('static', filename='chat_script.js')}}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to our Chatroom</h1>
  <p>This chatroom is part of our master thesis in Information Science & Language Technology</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Thank you for using our chatroom!</h4>
            <p>We're doing a master thesis on...</p>
            <p><b>Cyberbullying:</b></p>
        </div>

        <!--
        <div class="col-sm-5">
            <div class="msg-group center">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-left">Karl:</h6>
                        <p class="card-text float-left">Hello</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-left">Karen:</h6>
                        <p class="card-text float-left">Hi how are you?</p>
                    </div>
                    <div class="message_holder"></div>
                </div>
            </div>

            <form action="" method="POST">
                <div class="input-group">
                    <span class="input-group-addon"><i  class="glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal"></i></span>
                    <textarea id="input-box" class="form-control" rows="1" placeholder="Say something..."></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" id = "demo" onclick="myFunction()" type="button">send</button>
                    </span>

                    <!-- Modal -->
                        <!--
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog"> -->

                          <!-- Modal content-->
                            <!--
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Username</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                  <textarea id="username" class="form-control" rows="1" placeholder="Enter username"></textarea>
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" id = "send_name" onclick="myFunction()" type="button">send</button>
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>


                </div>
            </form>
        </div>
        -->
        <div class="col-sm-5">
            <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
            <div class="message_holder"></div>

            <form action="" method="POST">
            <input type="text" class="username" placeholder="User Name"/>
            <input type="text" class="message" placeholder="Messages"/>
            <input type="submit"/>
            </form>
        </div>

        <div class="col-sm-2">
            <p><b>Users in Chatroom:</b><br>Karl<br>Karen<br>...</p>
        </div>

        <div class="col-sm-2">
            <h4>Don't know what to write?</h4>
            <p>Here are some example topics to talk about:</p>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h6>Heinrich-Heine-Universität &copy; Valerie Claessen and Sabrina Wirkner</h6>
</div>

</body>
</html>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}