{% extends "bootstrap/base.html" %}
{% block title %}Chatroom{% endblock %}

{% block content %}
<html lang="en">
<head>
    <title>Chatroom</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{{url_for('static', filename='index_script.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to our Chatroom</h1>
  <h5>This chatroom is part of our master thesis in Information Science & Language Technology</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Thank you for using our chatroom!</h4>
            <p>We're doing a master thesis on...</p>
            <p><b>Cyberbullying:</b></p>
        </div>

        <div class="col-sm-6">
            <div class="message_holder" id="message_holder">
                <h4 id="message_default">&nbsp;&nbsp;No messages yet</h4>
                <!--<div id="loader" class="loader"></div>-->
            </div>

            <form action="" method="POST">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" id = "gly" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"></i></span>
                    <div class="form-control">
                        <input type="text" id="input_chatmessage" class="message" rows="1" placeholder="Say something..."/>
                    </div>
                        <span class="input-group-btn">
                            <input type="submit" id="pop_over_button" class="btn btn-secondary" value="Send" onclick="" data-container="body" data-toggle="modal" data-target="#message_appropriate" data-placement="top" data-content="Message is inappropriate" data-trigger="focus" data-backdrop="static" data-keyboard="false" disabled="disabled">
                        </span>
                        <!-- Modal -->
                        <div class="modal fade" id="message_inappropriate" tabindex="-1" role="dialog" aria-labelledby="message_inappropriateLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="message_inappropriateLabel">Message was inappropriate - Was that correct?</h5>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <p id="to_evaluate">Your message: "xxxxxxxxxxxxxxxxxxxxxx"</p>
                                <div class="radio" onchange="enableButton_inap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" value="i1">Yes</label>
                                </div>
                                <div class="radio"  onchange="enableButton_inap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" value="i2">No</label>
                                </div>
                                  <input type="text" class="computed_class" placeholder="HS">
                                  <input type="text" class="computed_class" placeholder="CB">

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="submit_message_inappropriate"  data-dismiss="modal" disabled>Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    <!-- Modal -->
                        <div class="modal fade" id="message_appropriate" tabindex="-1" role="dialog" aria-labelledby="message_appropriateLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="message_appropriateLabel"> Message is appropriate - Is that correct?</h5>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <p>Your message: "xxxxxxxxxxxxxxxxxxxxxx"</p>
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" id="ap_1" class="eval_radio" value="a1">Yes</label>
                                </div>
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" value="a2">No, it’s Cyberbullying</label>
                                </div>
                                <div class="radio" onchange="enableButtonap()">
                                  <label><input type="radio" name="optradio" class="eval_radio" value="a3">No, it’s Hate Speech</label>
                                </div>
                                  <input type="text" class="computed_class" placeholder="HS">
                                  <input type="text" class="computed_class" placeholder="CB">
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary" id="submit_message_appropriate"  data-dismiss="modal" disabled>Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>





                    <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Username</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="color" class="color" name="name_color" id="name_color" value="#3366ff">
                                    </span>
                                    <div class="form-control">
                                        <input type="text" class="username" placeholder="Enter username">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary" id = "send_name" onclick="setUserColor()" type="button" data-dismiss="modal">Send</button>
                            </div>
                          </div>

                        </div>
                      </div>


                </div>
            </form>
        </div>

        <div class="col-sm-1">
            <p><b>Users:</b><br>
                <div class="user_holder" id="user_holder">
                <h4 id="user_default">&nbsp;&nbsp;No messages yet</h4>
                <!--<div id="loader" class="loader"></div>-->
            </div>
            </p>
        </div>

        <div class="col-sm-2">
            <h4>Don't know what to write?</h4>
            <p>Here are some example topics to talk about:</p>
            <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h6>Heinrich-Heine-Universität Düsseldorf &copy; Valerie Claessen and Sabrina Wirkner</h6>
</div>


<p><a href="#" role="button" class="btn btn-secondary popover-test" data-html="true" data-toggle="popover" title="Email me:" data-content="<a href=&quot;mailto:someone@example.com?Subject=Hello&quot; target=&quot;_top&quot;>Send Mail to:</a> templenaylor@gmail.com">Contact
        Me</a>
</p>


</body>
</html>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}