/*#demo{
    color: aqua;
}*/

.username, .message  {
    border: none;
    background: transparent;
    width: 100%;
}

#chatbox {
    background-color:#FFF !important;
}

.message_holder {
    display:block;
    line-height: 2.5ex;
    height: 40ex;
    overflow-y: scroll;
    border-top: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
}

#message_default {
    color: #BFBFBF;
}

#name_color {
    height: 20px;
}

.popover-content {
    color: #ed5d4d;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



