#demo{
    color: aqua;
}

input {
    border: none;
    background: transparent;
    width: 100%;
}

#chatbox {
    background-color:#FFF !important;
}

.message_holder {
    display:block;
    line-height: 2.5ex;
    height: 40ex;
    overflow-y: scroll;
}




